body {
    width: 100vw;
    /* min-height: 100vh; */
    margin: 4vh 0;
    background-color: hsl(0, 0%, 98%);
    background-image: url("../assets/images/backgrounds/bg-simplify-section-desktop.svg");
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    font-family: "Be Vietnam", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.no-scroll {
    overflow: hidden;
}

button {
    font-family: "Be Vietnam", sans-serif;
    font-size: 0.7rem;
    -webkit-box-shadow: 0px 29px 25px -17px rgba(242, 95, 58, 0.51);
    -moz-box-shadow: 0px 29px 25px -17px rgba(242, 95, 58, 0.51);
    box-shadow: 0px 29px 25px -17px rgba(242, 95, 58, 0.51);
    cursor: pointer;
    width: fit-content;
}

p {
    font-size: 1.1em;
    color: hsl(227, 12%, 61%);
}

h1 {
    font-weight: 700;
    font-size: 3em;
    color: hsl(228, 39%, 23%);
    line-height: 1.3;
}

h2 {
    font-weight: 700;
    font-size: 2.5em;
    color: hsl(228, 39%, 23%);
    line-height: 1.3;
}

h2.white {
    color: white;
}

h3 {
    font-weight: 700;
    font-size: 1.1em;
    color: hsl(228, 39%, 23%);
    margin: 0;
}

.elem-shape {
    padding: 13px 33px;
    border: 0;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elem-shape.orange {
    color: white;
    background-color: #f25f3a;
}

.elem-shape.white {
    color: #f25f3a;
    background-color: white;
}

a {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;
    color: hsl(227, 12%, 61%);
    margin: 0 1vw;
}

a:hover {
    text-decoration: underline;
}

/* HEADER */

/* NAVIGATION */

header {
    width: 88%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.7em;
}

/* DESKTOP NAVIGATION */

.nav-desktop {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

/* MOBILE NAVIGATION */

.nav-mobile {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mobile-header {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-links-wrapper {
    position: fixed;
    left: 0;
    top: 65px;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    background: -moz-linear-gradient(
        top,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.31) 47%,
        hsla(0, 0%, 0%, 0.65) 100%
    );
    background: -webkit-linear-gradient(
        top,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.31) 47%,
        hsla(0, 0%, 0%, 0.65) 100%
    );
    background: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.31) 47%,
        hsla(0, 0%, 0%, 0.65) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );

    display: none;
}

.mobile-links {
    width: 85%;
    height: fit-content;
    background-color: white;
    border: 0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 30px;
}

.mobile-links ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 40px 0;
}

.mobile-links li {
    padding: 8px;
    margin: 6px;
    font-size: 1.3em;
}

.mobile-links a {
    color: hsl(228, 39%, 23%);
}

#header-logo {
    height: 25px;
}

/* MAIN */

#info {
    display: flex;
    flex-direction: column;
    width: 88%;
    margin-top: 9vh;
}

#two-split {
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#dialog {
    width: 40%;
    padding: 30px;
}

#dialog p {
    width: 60%;
}

#chart {
    width: 40%;
    padding: 30px;
}

#chart img {
    width: 100%;
}

/* FEATURES */

#features-wrapper {
    width: 40%;
    padding: 30px;
}

#features-wrapper ul {
    list-style: none;
}

.feature-card {
    display: grid;
    grid-template-columns: 40px 40px 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas:
        "id1 id2 title"
        "body body body";
    margin-bottom: 25px;
    column-gap: 10px;
    row-gap: 10px;
}

.fcard-id {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 25px;
}

.fcard-title {
    grid-area: title;
    align-items: center;
}

.fcard-body {
    grid-area: body;

    align-items: flex-start;
    margin: 0;
}

/* TESTEMONIALS */

#testemonials {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testemonials-card-wrapper {
}

#testemonials-card-wrapper ul {
    height: 350px;
    width: 2540px;
    overflow: scroll;
    padding: 10px;
    list-style: none;
}

#testemonials-card-wrapper li {
    display: inline-block;
}

.testemonial-card {
    width: 600px;
    display: grid;
    grid-template-rows: 10% 10% 80%;
    grid-template-columns: 1fr;
    margin: 10px;
}

.testemonial-card img {
    height: 80px;
    grid-row: 1 / 3;
    grid-column: 1;
    z-index: 1;
    align-self: start;
    justify-self: center;
}

.testimonial-body {
    background-color: hsl(0, 0%, 95%);
    padding: 50px 40px 40px 40px;
    grid-row: 2 / 4;
    grid-column: 1;
}

.testimonial-body h3,
p {
    text-align: center;
}

#add-wrapper {
    width: 100vw;
    background-color: hsl(12, 88%, 59%);
    background-image: url("../assets/images/backgrounds/bg-simplify-section-desktop.svg");
    background-size: cover;
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#add {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

#add .statement {
    width: 60%;
}

@media only screen and (max-width: 375px) {
    body {
        background-image: url("../assets/images/backgrounds/bg-simplify-section-mobile.svg");
    }

    h1 {
        font-size: 2em;
        text-align: center;
    }

    h2 {
        font-size: 1.5em;
        text-align: center;
    }

    h3 {
        font-size: 0.9em;
    }

    p {
        font-size: 0.8em;
        color: hsl(227, 12%, 61%);
    }

    button {
        font-size: 0.8em;
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }

    #two-split {
        flex-direction: column-reverse;
        justify-content: center;
    }

    #dialog {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #dialog p {
        width: 100%;
        text-align: center;
    }

    #chart {
        width: 100%;
        padding: 0;
    }

    #features-wrapper {
        width: 100%;
        padding: 0;
    }

    #features-wrapper ul {
        padding: 0;
        margin: 0;
    }

    .feature-card {
        margin-bottom: 15px;
        column-gap: 0;
        row-gap: 10px;
    }

    .fcard-title {
        grid-area: title;
        display: flex;
        align-items: center;
        margin-left: 7px;
    }

    #add {
        flex-direction: column;
    }

    #add .statement {
        width: 100%;
    }

    #add h2 {
        font-size: 2em;
    }
}
